<ng-container *ngIf="books; else loading">

  <br-book
  *ngFor="let b of books; trackBy: trackBook"
  [book]="b"
  (rateUp)="rateUp($event)"
  (rateDown)="rateDown(b)"></br-book>

  <ul>
    <li *ngFor="let b of books; index as i">
      {{ i + 1 }}.) {{ b.title }}
    </li>
  </ul>

  <strong>Anzahl Bücher:</strong> {{ books.length }}

</ng-container>

<ng-template #loading>
  <strong>Bücher werden geladen...</strong>
</ng-template>

<br-fancy-button label="Hallo Welt"></br-fancy-button>
<br-fancy-button></br-fancy-button>
